---
import {Image} from "astro:assets";
import heroImage from "../assets/images/portrait.png"
import design_synthetica from "../assets/images/design_synthetica.png"
import Header from "./Header.astro";
import FloatingCard from "./FloatingCard.astro";
---

<section class="relative h-screen flex flex-col overflow-hidden snap-start">

    {/* Header сверху */}
    <Header/>

    {/* Контентная зона занимает всё оставшееся пространство */}
    <div id="parallax-container"
         class="relative flex-1 flex items-end justify-center [perspective:1000px]">

        {/* Radial glow (под портретом) */}
        <div
                class="pointer-events-none absolute left-1/2 top-[80%]
         -translate-x-1/2 -translate-y-1/2

         w-[clamp(520px,90vw,1500px)]
         h-[clamp(360px,70vw,1100px)]

         xl:w-[clamp(480px,70vw,1100px)]
         xl:h-[clamp(320px,55vw,850px)]

         2xl:w-[clamp(600px,90vw,1600px)]
         2xl:h-[clamp(400px,70vw,1200px)]

         bg-[radial-gradient(circle,rgba(159,192,243,0.9)_25%,rgba(159,192,243,0.5)_55%,transparent_85%)]
         blur-[160px]"
        />

        {/* Floating design cards */}

        <FloatingCard
                src={design_synthetica}
                topClass="top-[35%]"
                leftClass="left-[8%]"
                rotateClass="rotate-[-15deg]"
                borderClass="hover:border-[#9FC0F3]"
                depth={15}
        />

        <FloatingCard
                src={design_synthetica}
                topClass="top-[20%]"
                leftClass="left-[25%]"
                rotateClass="rotate-[-8deg]"
                borderClass="hover:border-[#9FC0F3]"
                depth={25}
        />

        <FloatingCard
                src={design_synthetica}
                topClass="top-[20%]"
                leftClass="right-[25%]"
                rotateClass="rotate-[8deg]"
                borderClass="hover:border-[#9FC0F3]"
                depth={20}
        />

        <FloatingCard
                src={design_synthetica}
                topClass="top-[35%]"
                leftClass="right-[8%]"
                rotateClass="rotate-[14deg]"
                borderClass="hover:border-[#9FC0F3]"
                depth={30}
        />

        {/* Портрет */}
        <Image src={heroImage}
                alt="Portrait"
                class="relative z-10 block object-contain
                        w-auto
                        max-h-[55vh]
                        sm:max-h-[62vh]
                        md:max-h-[72vh]
                        2xl:max-h-[74vh]"
                width={2000}
                quality={90}
                format="webp"
        />

    </div>

</section>

<script>
    import { initParallax } from "../scripts/parallax.ts";

    const container = document.getElementById('parallax-container');
    if (container) {
        initParallax(container, ".parallax-card", { lerp: 0.18, rotateFactor: 15 });
    }
</script>